*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background-image: url(../images/8e671c363a9b9e3fd943ee4546563b25.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    line-height: 30px;
}

/* navbar */

.nav{
color: white;
overflow: auto;
/* position: fixed;
box-sizing: border-box; */
}
.nav h5{
    padding: 10px;
    float: left;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.nav h5 a{
    color: aliceblue;
}
.nav span{
    font-weight: lighter;
    color: aliceblue;
}
.nav a{
    color: aliceblue;
    text-decoration: none;
}
.nav ul{
    padding-left: 0;
    float: right;
    list-style: none;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    padding: 10px;
    text-align: center;
    display: block;
    font-weight: 200;
    transition: 2s all;
}
.nav ul li a:hover{
    color: rgb(215, 86, 6);
    font-size: larger;
    font-weight: bold;
}

.home{
    text-align: left;
    padding: 100px;
}
.home .title{
    color: antiquewhite;
    text-align: left;
}
.home .title h1{
    font-size: 45px;
    font-weight: bold;
}
.home .title p{
    padding: 10px;
    height: fit-content;
    width: 50%;
}
.home .title .view{
    background-color: rgb(239, 175, 227);
    color: rgb(242, 232, 232);
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    text-decoration: none;
    transition: 1s all;
}
.home .title .view:hover{
    background-color: rgb(242, 232, 232);
    color: rgb(239, 175, 227);
    border: 1px solid rgb(215, 121, 198);
}
/* .icon a{
    color: antiquewhite;
    font-size: 25px;
    margin: 0 auto;
} */

/* About */

.mon{
    display: block;
    padding-top: 20px;
}
.mon a{
    text-align: center;
    color: rgb(6, 124, 124);
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.image{
    background-color: white;
}
.image .section .section1{
    width: 500px;
    height: 400px;
     margin-right: 20px; 
     margin-left: 5px;
     float: right;
}
.image .section h2{
    color: rgb(50, 237, 175);
    padding: 0 80px;
    text-transform: capitalize;
}
.image .section p{
    padding: 0 80px;
    height: fit-content;
    width: 50%;   
    color: rgb(50, 200, 237);
    font-size: medium;
}
.image .card .section2{
    width: 500px;
    height: 400px;
     margin-bottom: 20px; 
     float: left;
    padding: 0 10px;
}
.image .card h2{
    color: rgb(50, 237, 175);
    text-align: center;
    text-transform: capitalize
}
.image .card p{
    /* padding: 80px; */
    height: fit-content;
    width: 50%;   
    color: rgb(50, 200, 237);
    font-size: medium;
    float: right;
}

/* contact */
.form{
    padding: 30px;
    height: 500px;
}
.form a{
    font-size: 32px;
    padding: 40px;
    text-align: center;
    color: aquamarine;
    text-decoration: none;
}
.form .input{
    margin-bottom: 30px;
    color: rgb(13, 124, 124);
}
.form .input label{
    display: block;
    margin-bottom: 5px;
    font-size: larger;
}
.form .input input , .form .input textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(47, 190, 190);
    border-radius: 10px;
} 
.form .input input:focus , .form .input textarea:focus{
    border: 0;
    outline: 4px solid rgb(64, 227, 227);
}
.form .input textarea{
    height: 100px;
}
.send{

    width: 110px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(47, 190, 190);
    color: aquamarine;
    border: 2px solid #63d0d4;
    border-radius: 5px;
    box-shadow: #63d0d4;
    transition: 1s all;
}
.send:hover{
    background-color: aquamarine;
    color: rgb(47, 190, 190);
    border: 2px solid #58cfe4;
}
/* footer */
footer{
    text-align: center;
background-color: rgb(88, 180, 251);
}
.btn{
    background-color: aliceblue;
}

@media (min-width: 900px){
    .section p{
        display: contents;
    }
    .section2{
        margin-left: -55px;
    }
    .card{
        padding-top: 70px;
    }
    .card p{
        display: contents;
    }
}

@media (max-width: 481px){
    .nav , .home{
        display: grid;
        text-align: center;
    }
    .title{
        margin-top: -90px;
        margin-right: -65px;
    }
    .section1{
        display: block;
    }
    .section h2{
        margin-top: -30px;
        margin-left: -76px;
    }
    .section p{
        margin-top: -10px;
    margin-left: -80px;
    display: inline;
    }
    .card{
        display: flex;
    flex-direction: column;
    }
    .section2{
        display: block;
        margin-left: -30px;
    }
    .card h2{
        margin-left: -145px;
        margin-top: -15px;
    }
    .card p{
        margin-top: -5px;
    display: contents;
    }
    .form{
        display: contents;
    }
}


@media (max-width: 800px){
    .nav , .home{
        display: grid;
        text-align: center;
    }
    .title{
        margin-top: -90px;
        margin-right: -65px;
    }
    .section1{
        display: block;
    }
    .section h2{
        margin-top: -30px;
        /* margin-left: -76px; */
    }
    .section p{
        margin-top: -10px;
    margin-left: -80px;
    display: inline;
    }
    .card{
        display: flex;
    flex-direction: column;
    }
    .section2{
        display: block;
        margin-left: -30px;
    }
    .card h2{
        margin-left: -145px;
        margin-top: -15px;
    }
    .card p{
        margin-top: -5px;
    display: contents;
    }
    .form{
        display: contents;
    }
}

